@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fascinate+Inline&display=swap');
html {
	height: 100%;
}

body {
	color: white;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	text-shadow: 8px 8px 10px #0000008c;
	font-family: 'Bangers', cursive;

}

.bg {
	animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}

.bg3 {
	animation-duration:5s;
}

.content {
    padding:2vmin;
    position: static;
    text-align:center;
}

.navMenu {
  position: absolute;
  top:3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/*.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}*/



h1 {
	margin: 50px;
	color: ghostwhite;
	font-size: 50px;
	font-family: 'Fascinate Inline', cursive;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	text-align: center;
}

.card {
	margin: 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	transition: 0.3s;
}

.card:hover {
	margin: 5px 5px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 1.0);
}

img {
	width: 320px;
	height: 190px;
} 

p {
	font-family: 'Bangers', cursive;
	font-size: 25px;
	color: ghostwhite;
}

.copyright {
	font-size: 15px;
	color: ghostwhite;
	bottom: 2%;
	align-self: center;
	justify-self: center;
}

a {
	text-decoration: none;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}